<main class="main">
  <div class="header">
   Header
  </div>
  <div class="content">
      <h2>Bienvenue sur</h2>
      <h1>{{ appli.title }}</h1>
      <p>{{ appli.subtitle }}</p>
      <div class="panel panel-primary">
        <div class="panel-heading">Test</div>
          <div class="panel-body">
            <h3>Prénom: {{ develop.pnom }}</h3>
            <h3>nom: {{ develop.nom }}</h3>
            <h3>metier: {{ develop.metier }}</h3>
          </div>
      </div>
  </div>
</main>
<router-outlet />
